<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>
<div class="row marketing">
  <blockquote>
    <p class="lead">Auch dieses Jahr gibt es wieder Spiel und Spass am Lan-Camp.</p>
    <p>
      Wie üblich wird die langweilige Eiersuche über das Oster-Wochenende gegen Head-Shots und Level-Ups eingetauscht.
    </p>
  </blockquote>

  <dl class="dl-horizontal well">
    <dt>Wann</dt>
    <dd>
      25.03.- 28.03
    </dd>
    <dt>Wo</dt>
    <dd>
      Reformiertes Kirchgemeindehaus Bülach (www.refkirchebuelach.ch/)
    </dd>
    <dt>Preis</dt>
    <dd>
      Preis: CHF 80.-
    </dd>
    <dt>Inbegriffen</dt>
    <dd>
      Im Preis inbegriffen sind 6 Mahlzeiten, jeweils 3 mal z'Morgen- und z'Nacht-Essen, die Übernachtung im separaten Raum und die Garantie keine Langweile über Ostern zu haben. Einlass ab 18 Jahren.
    </dd>
    <dt>Teilnehmer</dt>
    <dd>
      Die Spielerzahl ist auf 25 limitiert.
    </dd>
  </dl>
</div>

<footer ng-include="'views/footer.html'"></footer>
