<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>
<div class="row marketing">
  <h4>Gamers</h4>
<div class="btn-group">
  <button ng-class="{active: confirmed === undefined}" ng-click="showAll()" type="button" class="btn btn-default">alle</button>
  <button ng-class="{active: confirmed === true}" ng-click="showConfirmed()" type="button" class="btn btn-default">bestätigte</button>
  <button ng-class="{active: confirmed === false}" ng-click="showUnconfirmed()" type="button" class="btn btn-default">unbestätigte</button>
</div>
<div style="overflow:auto;">
<table class="table">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Geburtstag</th>
          <th>Adresse</th>
          <th>E-Mail</th>
          <th>Bestätigt</th>
          <th>l&ouml;schen</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gamer in gamers | filter:byConfirmed">
          <td>{{gamer.name}}</td>
          <td>{{gamer.lastname}}</td>
          <td>{{gamer.birthday}}</td>
          <td>{{gamer.adress}}</td>
          <td>{{gamer.email}}</td>
          <td><button ng-click="setConfirmed(gamer)" ng-class="{'btn-success active': gamer.confirmed === true, 'btn-default': gamer.confirmed === false}" class="btn btn-md"><span class="icon-sword"></span></button></td>
          <td><button ng-click="deleteGamer(gamer)" class="btn btn-md btn-danger"><span class="icon-aperture"></span></button></td>
        </tr>
      </tbody>
    </table>
</div>
</div>

<footer ng-include="'views/footer.html'"></footer>
