<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>
<div class="row marketing">
  <h4>Gamers</h4>
<div class="btn-group">
  <button ng-class="{active: confirmed === undefined}" ng-click="showAll()" type="button" class="btn btn-default">alle</button>
  <button ng-class="{active: confirmed === true}" ng-click="showConfirmed()" type="button" class="btn btn-default">bestätigte</button>
  <button ng-class="{active: confirmed === false}" ng-click="showUnconfirmed()" type="button" class="btn btn-default">unbestätigte</button>
</div>
<table class="table">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Geburtstag</th>
          <th>Adresse</th>
          <th>E-Mail</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gamer in gamers | filter:byConfirmed" ng-class="{success: gamer.confirmed === true}">
          <td>{{gamer.name}}</td>
          <td>{{gamer.lastname}}</td>
          <td>{{gamer.birthday}}</td>
          <td>{{gamer.adress}}</td>
          <td>{{gamer.email}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="footer">
  <p>♥ from the LanCamp team</p>
</div>
