<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>

<div class="jumbotron">
  <h1>{{APP.name}}</h1>
  <p class="lead">
    It’s dangerous to go alone...
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/register"><span class="icon-sword"></span> anmelden</a>
  </p>
  <h3>Gamers <span class="label label-{{hurry}}"><span id="odometer" class="odometer"></span> / <span id="odometer-max" class="odometer"></span></span></h3>
</div>

<div class="row marketing">
  <h4>Sponsoren:</h4>
  Interessiert Sponsor zu werden? Kontaktieren Sie uns! 
  <!-- <a href="https://www.wog.ch/"><img src="../images/logo_wog.jpg" class="img-thumbnail"></a> -->
</div>

<footer ng-include="'views/footer.html'"></footer>
