<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>

<div class="jumbotron">
  <h1>Willkommen</h1>
  <p class="lead">
    It’s dangerous to go alone...
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/register"><span class="icon-sword"></span> anmelden</a>
  </p>
  <h3>Gamers <span class="label label-{{hurry}}"><span id="odometer" class="odometer"></span> / <span id="odometer-max" class="odometer"></span></span></h3>
</div>

<div class="row marketing">
</div>

<div class="footer ">
  <p>♥ from the LanCamp team</p>
</div>
