<nav ng-include="'views/navigation.html'" ng-controller="NavigationCtrl"></nav>

<div class="row marketing">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Info:</strong> Bitte fülle alle roten Felder ab.
    </div>

  <form ng-submit="submit()" name="registrationForm" class="form-horizontal" role="form">
    <div ng-class="{ 'has-error': registrationForm.name.$invalid }" class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Vorname</label>
      <div class="col-sm-10">
        <input ng-model="form.name" name="name" type="text" class="form-control" id="inputName" placeholder="Vorname" required>
      </div>
    </div>
    <div ng-class="{ 'has-error': registrationForm.lastname.$invalid }" class="form-group">
      <label for="inputLastName" class="col-sm-2 control-label">Nachname</label>
      <div class="col-sm-10">
        <input ng-model="form.lastname" name="lastname" type="text" class="form-control" id="inputLastName" placeholder="Nachname" required>
      </div>
    </div>
    <div ng-class="{ 'has-error': registrationForm.adress.$invalid }" class="form-group">
      <label for="inputAdress" class="col-sm-2 control-label">Adresse</label>
      <div class="col-sm-10">
        <input ng-model="form.adress" name="adress" type="text" class="form-control" id="inputAdress" placeholder="Adresse" required>
      </div>
    </div>
    <div ng-class="{ 'has-error': registrationForm.email.$invalid }" class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">E-Mail</label>
      <div class="col-sm-10">
        <input ng-model="form.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="E-Mail" required>
      </div>
    </div>
    <div ng-class="{ 'has-error': registrationForm.birthday.$invalid }" class="form-group">
      <label for="inputBirthday" class="col-sm-2 control-label">Geburtstag</label>
      <div class="col-sm-10">
        <input ng-model="form.birthday" name="birthday" type="date" class="form-control" id="inputBirthday" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputComment" class="col-sm-2 control-label">Spielewünsche</label>
      <div class="col-sm-10">
        <textarea ng-model="form.comment" id="inputComment" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div ng-class="{ 'has-error': agbs !== true }" class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="agbs" name="agbs" required>ich stimme den AGBs zu.
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#agbs"><span class="icon-spaceinvaders"></span> AGBs ansehen</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-class="{ disabled: registrationForm.$invalid, disabled: agbs !== true }" type="submit" class="btn btn-primary"><span class="icon-sword"></span> anmelden</button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="agbs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">LanCamp AGBs</h4>
      </div>
      <div class="modal-body pre-scrollable">
        <p>
        <h4>&sect;1: Allgemeine Bestimmungen</h4>
        <br>
        a) Die Veranstaltung des Lan-Camps dient einem gemeinnützigen Zweck und ist nicht gewinnorientiert. Das Einheben von Teilnahmebeiträgen dient der Kostendeckung.<br>
        <br>
        b) Geldliche Überschüsse aus der Veranstaltung kommen der Vorbereitung, Organisation und Abhaltung weiterer ähnlicher Veranstaltungen zu Gute.<br>
        <br>
        c) Der Veranstalter behält sich bei Nichteinhaltung des Regelwerkes zumindest den Ausschluss des Betreffenden von weiteren Veranstaltungen vor.<br>
        <br>
        <br>
        <h4>&sect;2: Voraussetzungen zur Teilnahme an der Veranstaltung.</h4>
        <br>
        a) Jeder Teilnehmer muss das Alter von 18 Jahren erreicht haben. Jugendliche, die das 18. Lebensjahr noch nicht erreicht haben, haben zu der Veranstaltung keinen Zutritt.<br>
        <br>
        b) Jeder Teilnehmer kann sich am Einlass zur Veranstaltung mit einem gültigen, amtlichen Lichtpildausweis ausweisen und sein Alter belegen. Andere Ausweise (Ausnahme Führerschein), wie zum Beispiel Schülerausweise usw., welche nicht fälschungssicher sind, werden nicht akzeptiert.<br>
        <br>
        c) Jeder Teilnehmer hat den nötigen, bekanntgegebenen Teilnahmebeitrag geleistet.<br>
        <br>
        d) Jeder Teilnehmer bringt seinen eigenen Rechner, Monitor, Tastatur, Maus, Joystick etc. mit. Der Veranstalter verpflichtet sich zeitgerecht zu informieren, welche Hardware weiters zur Teilnahme nötig ist.<br>
        <br>
        e) Jeder Teilnehmer ist für die Betriebsbereitschaft seiner Geräte selbst verantwortlich.<br>
        <br>
        f) Den Anweisungen der Veranstalter bezüglich der Inbetriebnahme des persönlichen Rechners ist Folge zu leisten.<br>
        <br>
        g) Jeder Teilnehmer erkennt sonstige separat angekündigte Bestimmungen zur Veranstaltung an und akzeptiert diese hiermit.<br>
        <br>
        <br>
        <h4>&sect;3: Bestimmungen während der Veranstaltung</h4>
        <br>
        a) Jeder Teilnehmer verpflichten sich die allgemeinen guten Sitten anzuerkennen und gegen diese nicht zu verstossen. Die Veranstalter behalten sich das Recht vor zu jeder Zeit einen Teilnehmer aus gutem Grund auszuschliessen und ihm etwaigen Teilnahmebeitrag zu refundieren.<br>
        <br>
        b) Jeder Teilnehmer verpflichtet sich keine gesetzeswidrigen Aktivitäten im Rahmen der Veranstaltung zu setzen. Besonders hervorgehoben werden hier: Software Piraterie, Verbreitung verbotener Datenbestände, Beeinträchtigung oder Beschädigung fremder Datenanlagen.<br>
        <br>
        c) Jeder Teilnehmer ist für die Datenbestände auf seinem Rechner selbst verantwortlich. Dies gilt besonders für die Einhaltung von EULAs und anderen Lizenzvereinbarungen. Der Veranstalter übernimmt hierfür weder Verantwortung noch Haftung, da Kontrolle praktisch nicht durchführbar ist.<br>
        <br>
        d) Es gilt während der Veranstaltung allgemeines Nahrungsmittel-, Alkohol-, und Rauchverbot . Dieses kann jedoch in besonders gekennzeichneten Bereichen nur vom Veranstalter aufgehoben/abgeändert werden.<br>
        <br>
        e) Der Betrieb von allgemein störenden Gerätschaften, besonders Lautsprechern, Subwoovern ist nur auf Grund einer Genehmigung der Veranstalter erlaubt.<br>
        <br>
        f) Dem Teilnehmer ist untersagt nach einem Loose wie kleine Mädchen zu heulen. Suck it Franz!<br>
        <br>
        g) Dem Teilnehmer ist untersagt den Betrieb der Veranstaltung mutwillig zu stören. Dies gilt insbesondere für den Betrieb des Computernetzwerks.<br>
        <br>
        h) Jeder Teilnehmer ist für den Schutz und die Sicherheit seines Eigentums selbst verantwortlich. Der Veranstalter verpflichtet sich den Zugang zu Veranstaltungsräumlichkeiten zu regulieren. Bei Bedarf wird auch einsicherer Aufbewahrungsort zur Verfügung gestellt (z.B. verschlossener Raum).<br>
        <br>
        i) Der Veranstalter verpflichtet sich zu Verfügungstellung und Betrieb des Computernetzwerkes und auch von Sitzplätzen inkl. Netzwerkanschluss, Strom etc. als Gegenleistung für den Teilnahmebeitrag.<br>
        <br>
        j) Der Veranstalter verpflichtet sich etwaige technische Störungen raschest möglich nach bestem Vermögen zu beheben. Betriebsgarantien sind ausgeschlossen.<br>
        <br>
        k) Der Veranstalter bietet bei mehrtägiger Veranstaltungsdauer entweder Übernachtung vor Ort oder Informationen zu Übernachtungsmöglichkeiten.<br>
        <br>
        <br>
        <h4>&sect;4: Turniere und Preisvergabe</h4>
        <br>
        a) Jeder Turnierteilnehmer verpflichtet die vor dem Turnier bekanntgegebenen Regeln einzuhalten. Die Veranstalter behalten sich das Recht vor bei Verstössen die Turnierteilnahmeberechtigung zu widerrufen.<br>
        <br>
        b) Der genaue Ablauf eines Turniers (Anmeldung, Start des Turniers, Punktvergabe, Ranglistensystem/Ergebnisse) wird für jedes verschiedenartige Turnier separat reglementiert.<br>
        <br>
        c) Die Veranstalter verpflichten sich etwaige Turniere geordnet/organisiert abzuwickeln und die Preisvergabe nach eindeutiger objektiver Auswertung der Ergebnisse vorzunehmen.<br>
        <br>
        d) Teilnahme und Preisverleihung erfolgt ohne Gewähr und unter Ausschluss des Rechtsweges.<br>
        <br>
        <br>
        <h4>&sect;5: Bestimmung zum Abschluss der Veranstaltung</h4>
        <br>
        a) Jeder Teilnehmer verpflichtet sich persönliche Gegenstände nach der Veranstaltung von seinem Sitzplatz zu entfernen (Hardware, Müll etc.) und diesen geordnet an die Veranstalter zu übergeben.<br>
        <br>
        b) Jeder Teilnehmer haftet unmittelbar, im Zweifelsfall zumindest mittelbar, für ihm zuordenbaren Schäden jeglicher Art.<br>
        <br>
        c) Der Veranstalter trägt die Verantwortung für Schäden, mit Ausnahme der unter &sect;5 b angeführten Umstände. Es gibt keine Solidarhaftung für alle Teilnehmer.<br>
        <br>
        d) Der Veranstalter kann für Datenverlust und/oder ähnlichen Schaden an Computeranlagen der Teilnehmer, der nicht direkt ihm zuordenbar ist und aus seinem mutwilligen Verschulden hervorgeht, nicht belangt werden.<br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">schliessen</button>
      </div>
    </div>
  </div>
</div>

<footer ng-include="'views/footer.html'"></footer>
